.dragger__wall {
  border: 1px solid goldenrod;
  position: absolute;
  background-color: gold;
  cursor: grab;
}

.dragger__wall--moving {
  opacity: 0.5;
}

.dragger__vertical-wall.dragger__wall--moving {
  cursor: e-resize;
}

.dragger__horizontal-wall.dragger__wall--moving {
  cursor: ns-resize;
}
