.dragger__wall {
  position: absolute;
  background-color: gold;
}

.dragger__wall--moving {
  opacity: 0.5;
}

.dragger__wall--vertical {
  cursor: e-resize;
}

.dragger__wall--horizontal {
  cursor: ns-resize;
}
