.add-form {
  display: grid;
  justify-content: center;
  gap: 1rem;

  &__button {
    grid-column: 1/-1;
    width: 60vw;
    padding: 2rem;

    text-transform: uppercase;
    color: var(--color-font-primary);
    background-color: transparent;
  }
}
