.dragger-wrapper {
  display: grid;
  grid-template-columns: auto max-content;
  justify-content: center;
}

.dragger-wrapper * {
  box-sizing: border-box;
}

.dragger {
  border: 1px solid black;
  position: relative;
  /*background-color: rgb(172, 158, 158);*/
}
