.dragger-wrapper {
  display: grid;
  grid-template-columns: auto max-content;
  justify-content: center;
  align-items: start;
  gap: 10px;
}

.dragger-wrapper * {
  box-sizing: border-box;
}

.dragger {
  border: 1px solid black;
  position: relative;
  background-color: rgb(233, 233, 233);
}
