.cell {
  width: 2.8rem;
  height: 2.8rem;
  background-color: var(--color-font-primary);
  color: var(--color-blue-dark);

  &--nearby {
    opacity: 0.7;
  }

  &--ship {
    background-color: cornflowerblue;
  }

  &--touched {
    background-color: orangered;
  }
}
